<div class="mainSection">
    <app-header [headerSection]="headerSection"></app-header>

    

    <app-title [sectionArr]="sectionArr" > </app-title>    
    <app-sub-title [sectionArr]="sectionArr"></app-sub-title>
    <app-paragraph [sectionArr]="sectionArr"></app-paragraph>
    <app-list [sectionArr]="sectionArr"></app-list>
    <app-table-heading [sectionArr]="sectionArr"></app-table-heading>
    <app-table [tableData]="tableData"></app-table>
    
    <app-footer [footerSection]="footerSection"></app-footer>
</div>